<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>server.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{mm:ss} [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
