<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>client.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%-5level [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
